/* Reset some default styling */
body {
  margin: 0;
  padding: 0;
background-color: #b5b1b1;
font-family: "Formula font", sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease-in-out;
  }
  .dropdown-content a:hover {
    background-color: #444;
    border-radius: 5px;
  }

 h1, h2, p {
  margin: 0;
  padding: 0;
}
/* Basic styling for the header and footer */
header, footer {
  background: linear-gradient(45deg, #d40d0dcd, #733535, #000000);
  color: #fbfafad9;
  padding: 10px;
text-align: center;
}

/* Styling for the navigation menu */
nav ul {
  list-style: none;
  display: flex;
justify-content: center; 
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

/* Styling for the main content */
.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
